<%= render "shared/header" %>

<p id="notice"><%= notice %></p>

<h1>ToDoList</h1>  
<%= link_to 'リスト一覧表示', dones_meetings_path(current_user) %>

<%= form_with local: true do |f| %>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <% if user_signed_in? && current_user.id == meeting.user_id %>
        <% unless meeting.dones.present?%>
          <tr>
            <td><%= meeting.name %></td>
            <td><%= meeting.start_time %></td>
            <td><%= link_to '詳細', meeting %></td>
            <td><%= link_to '編集', edit_meeting_path(meeting) %></td>
            <td><%= link_to '削除', meeting_path(meeting) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to '完了', meeting_dones_path(meeting), method: :create %></td>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= f.hidden_field :hidden %>


<% end %>



<br>

<%= link_to 'New List', new_meeting_path %>

<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
  <% if user_signed_in? && current_user.id == meeting.user_id %>
      <% unless meeting.dones.present?%>
        <div>
          <%= meeting.name %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>




